body {
    font-family: 'Caledonia', sans-serif;
    height:100vh;
    overflow-y: hidden;
}

img {
    display: block;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.75rem;
    p {
        border-top: 1px solid rgba(0, 0, 0, 0.8);
        text-align: center;
        padding: 0.6rem 0;
    }
    
}
