.factsContainer {
    width: 400px;
    height: 280px;
    // background-color: rgb(236, 236, 236);
    border-radius: 5px;
    display: flex;
    position: absolute;
    bottom: 4%;
    left: 0;

    .title {
        font-family: 'Joanna Sans', sans-serif;
    }
}

.factsData {
    width: 70%;
    // height: 100%;
                // background-color: red;

    .dataSet {
        height: 100%;
        width:100%;
                    // background-color: blue;

        .floraImageContainer {
            position: relative;
            // background-color:green;
            height: 100%;
            width: 100%;
            .floraImage {
                position: absolute;
                bottom: 2rem;
                right: 0;
                width: 80%;
            }
        }
    }
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 1rem;
    gap: 0.5rem;
    button {
        background-color: lightblue;
        border: none;
        cursor: pointer;
        padding: 1rem;
        border-radius: 8px;
    }
}