.factsContainer {
    width: 330px;
    height: 280px;
    // background-color: rgb(236, 236, 236);
    border-radius: 5px;
    display: flex;
    position: absolute;
    bottom: 4%;
    left: 0;
    .buttonsContainer {
        input[type="radio"] {
            display:none;
        }
        label {

            &:hover {
                cursor: pointer;
            }
        }
    }

    .title {
        font-family: 'Joanna Sans', sans-serif;
    }
}

.factsData {
    width: 70%;
    height: 1px;
    // height: 100%;
                // background-color: red;

    .dataSet {
            height: 1px;
        // height: 100%;
        width:100%;
                    // background-color: blue;

        .floraImageContainer {
            position: relative;
            // background-color:green;
            // height: 100%;
            width: 100%;
            .floraImage {
                position: absolute;
                bottom: -10rem;
                right: 0;
                width: 80%;
            }
            .subtitle {
                position: absolute;
                top: 9.3rem;
                right: 2rem;
                font-size: 1rem;
            }
        }
    }
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 0.5rem;
    
}