.flagsContainer {
  position: absolute;
  top: 8%;
  right: 0%;

  .flagImageContainer {
    width: 300px;
    transition: 0.4s all ease-in-out;
    // &:hover {
    //     width: 320px;
    // }
    .flag {
      width: 100%;
      border-radius: 3px;
      transition: .2s all ease-in-out;
      &:hover {
        cursor: pointer;
        scale: 1.01;
      }
    }
  }

  .flagInfo {
    position: absolute;
    text-align: right;
    top: 100%;
    right: 2%;
    p {
      background-color: rgb(255, 255, 255, 0.2);
      display: inline-block;
    }
  }
}
