.main {
    .wrapper {
          
                height: 100vh;
                position: relative;
                max-width: 1400px;
                margin: 0 auto;
                width: 85%;
                overflow-x: hidden;
                overflow-y: hidden;
        
    }
}
