.titleContainer {
display: inline-flex;
flex-direction: column;
  position: absolute;
  width: auto;
  top: 6%;
  left: 0;
  z-index: -10;
h1 {
        display: inline-block;
        padding: 0;
        margin: 0;
        font-size: 3.1rem;
        color: rgb(64, 56, 56);
    }

    .title {

        h2 {
                // max-width: 22rem;
                width: auto;
                font-size: 1.9rem;
                margin: 1.1rem 0;
            }
        
            .subInfo {
                padding: 0.4rem 0;
                max-width: 17rem;
                width: 21vw;
            }
    }
  
}


