// Typography styles


// import Joanna Sans Nova font
@font-face {
  font-family: "Joanna Sans";
  src: url("../JoannaSansNovaRegular.otf");
  font-weight: normal;
}

// import Joanna Sans Nova font
@font-face {
  font-family: "Joanna Sans";
  src: url("../JoannaSansNovaThin.otf");
  font-weight:300;
}

@font-face {
  font-family: "Caledonia";
  src: url("../NewCaledoniaLTStdRg.otf");
  font-weight: normal;
}

