.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

}

img {
  display: block;
  width: 100%;
}

.mapContainer {
  position: relative;
  width: 100%;
  /* height: 600px; */
}

.scene {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

}




.canada {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

}

.alberta,
.bc, 
.yukon,
.sask,
.nwt,
.nunavut,
.manitoba,
.ontario,
.pei,
.nb,
.nova,
.nfld,
.quebec {
    /* fill: none; */
    stroke: #2D846D;
    stroke-width: 1;
}

path:hover {
  cursor: pointer;
}

.cssChange {
  fill: #f543da;
  stroke: #2D846D;
  stroke-width: 1;
  transition: 0.4s ease-in-out;
}
.flag {
  width: 300px;
  border-radius: 3px;
  transition: 1s all ease-in-out;
}

.flag:hover {
  cursor: pointer;
}

@keyframes flasher {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flasher {
  display: block;
  animation: flasher 1.3s;
  /* transition: 1s all ease-in-out; */
  /* background: red; */
  /* color: white; */
}